{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="static/images/thepower.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{% block title %} El g0rd0 - Willkommen {% endblock %}</h5>
          <p class="card-text">
            Du hast den Code entschlüsselt und erfolgreich die Registrierung für die
            jährliche Reise-Lotterie der Bs und YTs und weiteren
            Familienmitgliedern gefunden.</br></br>
            Es gibt insgesamt sechs Tickets - du hast eins davon!
          </p>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Die jährliche Weihnachts-Lotterie</h5>
          <p class="card-text">
            Das beste ist doch gemeinsam Zeit miteinander verbringen und dabei zusammen neues zu entdecken.
            Statt zu Weihnachten Geschenke zu verteilen, wollen wir gemeinsam Reisen! </br></br>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¿Cómo funciona?</h5>
          <p class="card-text">
            Gib dein wunsch Reiseziel und Zeitraum unter "Ziel Einreichen" ein. Sei kreativ und schreib was nettes und lade schöne Bilder hoch.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Heilig-Abend wird gemeinsam über einen Video-Call auf der Website der Gewinner gezogen.</li>
          <li class="list-group-item">Wir treffen uns 2023 am Reiseziel, bis dahin gibt es genug Zeit die Reise gemeinsam zu planen.</li>
          <li class="list-group-item"><a href="/create" class="btn btn-primary">Ticket einlösen!</a></li>
        </ul>
      </div>
    </div>




  </div>
{% endblock %}
